@page
@model QuestionPool.Pages.answer.CreateModel
@{
    ViewData["Title"] = "Create";
}
<script src="https://cdn.tiny.cloud/1/i0wlzeqbdu2uistzjyp12246lo9qdf1x4uhmy31eh4mrqb8i/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>



    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">ExamQuestionPool</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Question Bank</a></li>
                                <li class="breadcrumb-item active">Create Answer</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form method="post" enctype="multipart/form-data">
                <input hidden asp-for="QuestionAnswer.Image"/>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <!-- Content for the left side -->
                                <div class="mb-3">
                                    <label asp-for="QuestionAnswer.Answer" class="control-label"></label>
                                    <input asp-for="QuestionAnswer.Answer" class="form-control" type="text" />
                                    <span asp-validation-for="QuestionAnswer.Answer" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="QuestionAnswer.QuestionId" class="control-label"></label>
                                    <select asp-for="QuestionAnswer.QuestionId" class="form-control" asp-items="ViewBag.QuestionId"></select>
                                </div>
                                <div id="dropdownSection" class="mb-3">
                                    <select id="dropdownChoice" class="form-control">
                                        <option value="">Please select an option</option>
                                        <option value="show">Show Answer's Order Field</option>
                                        <option value="hide">Hide Answer's Order Field</option>
                                    </select>
                                </div>
                                <div id="choiceFieldGroup" class="mb-3" style="display: none;">
                                    <label asp-for="QuestionAnswer.Order" class="control-label"></label>
                                    <input asp-for="QuestionAnswer.Order" class="form-control" />
                                    <span asp-validation-for="QuestionAnswer.Order" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label asp-for="QuestionAnswer.Image" class="control-label"></label>
                                    <div class="custom-file">
                                        <input asp-for="QuestionAnswer.Image"  type="file" class="custom-file-input form-control" />
                                        <label class="custom-file-label">Click here to upload image</label>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>

            <!-- end row -->
        </div> <!-- container -->
       
    </div> <!-- content -->
    <!-- Vendor js -->
    <script src="~/assets/js/vendor.min.js"></script>

    <!-- Dropzone file uploads-->
    <script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>

    <!-- Quill js -->
    <script src="~/assets/libs/quill/quill.min.js"></script>

    <!-- Init js-->
    <script src="~/assets/js/pages/form-fileuploads.init.js"></script>
    @section Scripts {
        @{
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(fileName)
                    })
                })
            </script>
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }


@*                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        // Get the select element for dropdown choice
                        var dropdownChoice = document.getElementById("dropdownChoice");
                        // Get the choice field group
                        var choiceFieldGroup = document.getElementById("choiceFieldGroup");

                        // Event listener for change event on dropdown choice
                        dropdownChoice.addEventListener("change", function () {
                            // Get the selected value
                            var selectedOption = this.value;

                            // Conditionally display or hide the choice field group
                            if (selectedOption === "show") {
                                // Show the choice field group
                                choiceFieldGroup.style.display = "block";
                            } else {
                                // Hide the choice field group
                                choiceFieldGroup.style.display = "none";
                            }
                        });
                    });
                </script> *@
}
@* <h1>Create</h1>

<h4>QuestionAnswer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionAnswer.Answer" class="control-label"></label>
                <input asp-for="QuestionAnswer.Answer" class="form-control" type="text"/>
                <span asp-validation-for="QuestionAnswer.Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionAnswer.QuestionId" class="control-label"></label>
                <select asp-for="QuestionAnswer.QuestionId" class ="form-control" asp-items="ViewBag.QuestionId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Choice 1:</label>
                <input asp-for="QuestionAnswer.Choice" class="form-control" name="Choice1" />
                <span asp-validation-for="QuestionAnswer.Choice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Choice 2:</label>
                <input asp-for="QuestionAnswer.Choice" class="form-control" name="Choice2" />
                <span asp-validation-for="QuestionAnswer.Choice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Choice 3:</label>
                <input asp-for="QuestionAnswer.Choice" class="form-control" name="Choice3" />
                <span asp-validation-for="QuestionAnswer.Choice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Choice 4:</label>
                <input asp-for="QuestionAnswer.Choice" class="form-control" name="Choice4" />
                <span asp-validation-for="QuestionAnswer.Choice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionAnswer.Order" class="control-label"></label>
                <input asp-for="QuestionAnswer.Order" class="form-control" />
                <span asp-validation-for="QuestionAnswer.Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionAnswer.Image" class="control-label"></label>
                <input asp-for="QuestionAnswer.Image" class="form-control" />
                <span asp-validation-for="QuestionAnswer.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionAnswer.IsTheAnswer" class="control-label"></label>
                <input asp-for="QuestionAnswer.IsTheAnswer" class="form-control" />
                <span asp-validation-for="QuestionAnswer.IsTheAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
